/* ===========================================
 *                  Font
 * =========================================== */
* {
    font-size: 100%;
    font-family: acherus_grotesqueregular;
    color: ALT_COLOR;
}

.xl-font {
    font-size: 450% !important;
}

.lg-font {
    font-size: 250% !important;
}

/* ===========================================
 *       Universal element selectors
 * =========================================== */
html {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    background: BG_COLOR;
}

hr {
    /*border-color: LIGHT_ALT_COLOR;*/
    border: none;
    color: BG_COLOR;
    background-color: BG_COLOR;
    height: 4px;
    clear: both;
    margin: 0 0 15px 0;
}

/* ===========================================
 *              Classify button
 * =========================================== */
.btn {
    background-color: BTN_COLOR;
    border-radius: 30px;
    border: none;
}

.btn:hover {
    color: #fff;
    background-color: BTN_COLOR_HOVER;
}

.btn:focus, .btn:active, .btn.active, .btn:active:hover {
    color: #fff;
    outline: 0 none;
    background-color: ACCENT_COLOR;
}

.green-bg {
    background-color: ACCENT_COLOR;
}

.btn-group-justified {
    margin: 0 auto 15px auto;
    max-width: 25em;
}

/* ===========================================
 *                   Colors
 * =========================================== */
.green {
    color: ACCENT_COLOR;
}

.dark-white {
    color: HEADING_COLOR;
}

.dark-gray {
    color: DARK_ALT_COLOR;
}

.gray {
    color: ALT_COLOR;
}

.light-gray {
    color: LIGHT_ALT_COLOR;
}

/* ===========================================
 *          Custom tables
 * =========================================== */
.classy-table {
    margin-top: 10px;
}

.classy-table > tbody > tr {
    height: 80px;
}

.table-input tr.clickable-row {
    cursor: pointer;
}

.table-input tr.clickable-row:hover {
    background: HOVER_COLOR;
}

.classy-table tr > td, .classy-table tr > th {
    font-size: 125%;
    vertical-align: middle !important;
    padding: 5px 0 5px 10px;
    border: 0 !important;
}

.table-input tr.active > td {
    background-color: ACTIVE_COLOR !important
}

.classy-table tr > td > img {
    width: 80px;
}

/* ===========================================
 *              Alert display
 * =========================================== */
.alert {
    display: none;
    color: white;
    border-radius: 5px;
    margin: 30px 0 0 0;
    font-size: 140%;
    text-align: center;
    padding: 20px;
    background: ALERT_COLOR;
}

.closebtn {
    color: white;
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 200%;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: ALERT_CLOSE_COLOR;
}

/* ===========================================
 *              Content cards
 * =========================================== */
.card {
    padding: 20px;
}

.card-content {
    background: FG_COLOR;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collapse-arrow {
    float: right;
    padding-top: 10px;
    font-size: 150%;
    display: block;
    cursor: pointer;
}

/* ===========================================
 *              Scrollable table
 * =========================================== */
.scrollable-table > tbody {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: 35em;
    table-layout: fixed;
}

.scrollable-table tbody > tr:first-child, .scrollable-table tbody > tr:first-child {
    margin-top: 25px;
}

.scrollable-table tr:last-child {
    margin-bottom: 25px;
}

.scrollable-table > thead {
    display: table;
}

.scrollable-table > tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.scrollable-table > tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: SCROLLBAR_COLOR;
}

.scrollable-table > tbody::-webkit-scrollbar {
    width: 12px;
    background-color: SCROLLBAR_COLOR;
}

.scrollable-table > tbody::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: SCROLLBAR_THUMB_COLOR;
}

.scroller-fade {
    height: 30px;
    position: absolute;
}

.scroller-fade-top {
    background: linear-gradient(to bottom, FG_COLOR_OPAQUE 0%, FG_COLOR_TRANSPARENT 100%);
}

.scroller-fade-bottom {
    background: linear-gradient(to top, FG_COLOR_OPAQUE 0%, FG_COLOR_TRANSPARENT 100%);
}

/* ===========================================
 *              Other classes
 * =========================================== */
.container {
    width: 80%;
    min-width: 60em;
}

.center {
    display: block;
    margin: auto;
}

.text-center {
    text-align: center;
    margin: 0;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    float: left;
    font-size: 350%;
    margin: 0;
}

.subtitle {
    font-size: 50%;
}

.heading {
    color: HEADING_COLOR;
    font-size: 250%;
    margin: 0;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

.submit-button {
    margin-top: 40px;
    max-width: 30em;
}

.inline-row {
    display: inline-block;
}

.blurred {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.larger-font {
    font-size: 125%;
}

/* ===========================================
 *              Donuts are great
 * =========================================== */
.proportion-donut {
    margin-bottom: 10px;
}

.proportion-donut > svg {
    display: block;
    margin: auto;
    -webkit-filter: drop-shadow( 0 3px 3px rgba(0,0,0,0.3) );
    filter: drop-shadow( 0 3px 3px rgba(0,0,0,0.3) );
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#444')";
}

.proportion-donut .arc:nth-child(1) path {
    fill: ACCENT_COLOR !important;
}

.proportion-donut .arc:nth-child(2) path {
    fill: PROP_UNFILL_COLOR !important;
}

/* ===========================================
 *              Slider inputs
 * =========================================== */
.input-row span {
    vertical-align: middle;
}

.input-row span:first-child {
    margin-right: 20px;
}

.input-row span:last-child {
    margin-left: 20px;
}

/* ===========================================
 *              Slider customization
 * =========================================== */
.slider {
    margin: 15px 0;
}

.slider-handle {
    background: ACCENT_COLOR !important;
}

.slider-track {
    background: DARK_ALT_COLOR !important;
}

.slider-selection {
    background: ACCENT_COLOR !important;
}

/* ===========================================
 *              Individual elements
 * =========================================== */
#login-btn {
    margin-top: 40px;
    max-width: 22em;

}

#login-card {
    margin: auto;
    margin-top: 20% !important;
    max-width: 50em;
}

#login-card > hr {
    margin: 0;
}

#playlists-table th:nth-child(1), #playlists-table td:nth-child(1) {
    width: 20%;
}

#playlists-table th:nth-child(2), #playlists-table td:nth-child(2) {
    width: 40%;
}

#playlists-table th:nth-child(3), #playlists-table td:nth-child(3) {
    width: 20%;
}

#playlists-table th:nth-child(4), #playlists-table td:nth-child(4) {
    width: 20%;
}

#tracks-table th:nth-child(1), #tracks-table td:nth-child(1) {
    width: 10%;
}

#tracks-table th:nth-child(2), #tracks-table td:nth-child(2),
#tracks-table th:nth-child(3), #tracks-table td:nth-child(3),
#tracks-table th:nth-child(4), #tracks-table td:nth-child(4) {
    width: 20%;
}

#tracks-table th:nth-child(5), #tracks-table td:nth-child(5),
#tracks-table th:nth-child(6), #tracks-table td:nth-child(6),
#tracks-table th:nth-child(7), #tracks-table td:nth-child(7) {
    width: 10%;
}
