{% extends "bootstrap/base.html" %}

{% macro collapsable_heading(heading, target="") %}
<div class="row">
    <div class="col-xs-11">
        <p class="heading">{{ heading }}</p>
    </div>
    <div class="col-xs-1">
        {% if target|string() == "" %}
        <p id="{{ heading }}-arrow" class="collapse-arrow" data-toggle="collapse" data-target="#{{ heading }}" onclick="toggle('#{{ heading }}-arrow')">&#9650</p>
        {% else %}
        <p id="{{ target }}-arrow" class="collapse-arrow" data-toggle="collapse" data-target="#{{ target }}" onclick="toggle('#{{ target }}-arrow')">&#9650</p>
        {% endif %}
    </div>
    <hr>
</div>
{% endmacro %}

{% macro heading(heading) %}
<div class="row">
    <div class="col-xs-12">
        <p class="heading">{{ heading }}</p>
    </div>
    <hr>
</div>
{% endmacro %}

{% block title %}
Classify
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/post-classy.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/fonts.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function toggle(id) {
    $(id).text($(id).text() == '\u25B2' ? '\u25BC' : '\u25B2');
}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card col-xs-12">
            <div class="card-content clearfix">
                <p class="title dark-white">class</p>
                <p class="title green">ify.</p>
                <hr>
                <p class="subtitle no-margin gray">audio classification for spotify</p>
            </div>
        </div>

    {% block classy_content %}
    {% endblock %}

    </div>
</div>
{% endblock %}
