{% extends "classy_base.html" %}

{% block content %}
<div class="container">
    <div id="login-card" class="card-content">
        <div>
            <p class="title xl-font dark-gray">class</p>
            <p class="title xl-font green">ify.</p>
        </div>
        <hr/>
        <p class="subtitle lg-font gray">audio classification for spotify</p>
        <a id="login-btn" type="button" class="btn btn-success btn-lg center" href="{{ login_url }}">LOG IN WITH SPOTIFY</a>
    </div>
</div>
{% endblock %}
