{% extends "classy_base.html" %}

{% block content %}
<div class="container">
    <div id="login-card" class="card-content">
        <div>
            <p class="title xl-font dark-white">class</p>
            <p class="title xl-font green">ify.</p>
        </div>
        <hr>
        <p class="subtitle lg-font gray">audio classification for spotify</p>
        <img id="icon-img" src="{{ url_for('static', filename='images/icon.png') }}">
        <p>explore your spotify playlists according to their audio features</p>
        <p>visualize the distributions of individual tracks</p>
        <p>filter your playlists and make new ones to fit the characteristics you want</p>
        <a id="login-btn" type="button" class="btn btn-success btn-lg center" href="{{ login_url }}">LOG IN WITH SPOTIFY</a>
    </div>
</div>
{% endblock %}
