{% extends "classy_table_base.html" %}

{% block scripts %}
{{ super() }}
<script>
urlParam = function(name) {
    var results = new RegExp('[\?&]' + name + '=([^#&]*)').exec(window.location.href);
    if (results == null) {
       return null;
    } else {
       return results[1] || 0;
    }
}

showPlaylistAlert = function() {
    var alert = document.getElementById("no-playlist-alert");
    alert.style.display = "block";
    location.href = "#";
    location.href = "#no-playlist-alert";  
}

$('#submit-playlist').on('click', function(event) {
    var token = urlParam('token');
    var active = $('#table-body').find('.active').attr('value');
    if (active == undefined) {
        showPlaylistAlert();
        return;
    }

    var vals = active.split(',');
    var pid = vals[0];
    var uid = vals[1];
    if (vals == undefined || pid == undefined || uid == undefined) {
        showPlaylistAlert();
    } else {
        var redir = 'tracks?token=' + token + "&uid=" + uid + "&pid=" + pid;
        window.location = redir;
    }
});
</script>
{% endblock %}

{% block classy_content %}
{% include 'profile.html' %}
<div class="card col-xs-8">
    <div class="card-content">
        {{ heading("select a playlist") }}
        <table id="playlists-table" class="scrollable-table table-input classy-table table clear">
            <thead id="table-head">
                <tr>
                    <th></th>
                    <th>name</th>
                    <th>owner</th>
                    <th>number of tracks</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for item in playlists %}
                <tr class="clickable-row" value="{{ item['id'] }},{{ item['owner']['id'] }}">
                    <td>
                    {% if item['images'][0] is defined %}
                        <img src="{{ item['images'][0]['url'] }}">
                    {% endif %}
                    </td>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['owner']['id'] }}</td>
                    <td>{{ item['tracks']['total'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a id="submit-playlist" type="button" class="btn btn-success btn-lg center submit-button">SUBMIT PLAYLIST</a>
        <div id="no-playlist-alert" class="alert">
            please select a playlist
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    </div>
</div>
{% endblock %}
