{% extends "classy_table_base.html" %}

{% block classy_content %}
{{ super() }}
<div class="card vcard left-card">
    <p class="heading">tracks</p>
    <table class="scrollable-table classy-table table clear">
        <tbody id="table-body">
            {% for item in tracks %}
            <tr>
                <td>
                    <p>{{ item['track']['name'] }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card vcard hcard right-card">
    <p class="heading">features</p>
    {% for statistic in stats %}
    <p>{{ statistic }}: {{ stats[statistic] }}</p>
    {% endfor %}
    
</div>
<div class="card vcard hcard right-card">
    <p class="heading">filter</p>

</div>
{% endblock %}
