{% extends "classy_table_base.html" %}

{% macro convert(value, cond, one, two) %}
{% if value|string() == cond %}
{{ one }}
{% else %}
{{ two }}
{% endif %}
{% endmacro%}

{% macro convert_boolean(bool) %}
{{ convert(bool, "True", "yes", "no") }}
{% endmacro %}

{% macro measure_select(id) %}
<div class="btn-group btn-group-justified">
    <div class="btn-group">
        <button id="{{ id }}-min-btn" type="button" class="btn btn-success center">MINIMUM</button>
    </div>
    <div class="btn-group">
        <button id="{{ id }}-avg-btn" type="button" class="btn btn-success center">AVERAGE</button>
    </div>
    <div class="btn-group">
        <button id="{{ id }}-max-btn" type="button" class="btn btn-success center">MAXIMUM</button>
    </div>
</div>
{% endmacro %}

{% macro range_slider(pretty_name, name, min_val=0, max_val=0, min=0, max=1, step=0.01) %}
<div class="col-xs-4 col-lg-3 text-center">
    <p class="text-center">{{ pretty_name }}</p>
    <div class="input-row">
        <span>{{ min }}</span>
        <input
            type="text"
            name="{{ name }}"
            data-provide="slider"
            data-slider-min="{{ min }}"
            data-slider-max="{{ max }}"
            data-slider-step="{{ step }}"
            data-slider-value="[{{ min_val }}, {{ max_val }}]"
        >
        <span>{{ max }}</span>
    </div>
</div>
{% endmacro %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-slider.min.css') }}">
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{{ url_for('static',filename='js/bootstrap-slider.min.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
function histogram(data, id) {
    var formatCount = d3.format(",.0f");

    var parent = $('#histograms');
    var width = ((parent.width() + 19)/ 20 * 20)
    var height = parent.height();

    var svg = d3.select("#" + id).append("svg")
        margin = {top: 10, right: 30, bottom: 30, left: 30},
        width = width - margin.left - margin.right,
        height = height - margin.top - margin.bottom,
        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    var x = d3.scaleLinear()
        .rangeRound([0, width]);
    
    var bins = d3.histogram()
        .domain(x.domain())
        .thresholds(x.ticks(20))
        (data);

    var y = d3.scaleLinear()
        .domain([0, d3.max(bins, function(d) { return d.length; })])
        .range([height, 0]);

    var bar = g.selectAll(".bar")
      .data(bins)
      .enter().append("g")
        .attr("class", "bar")
        .attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; });

    bar.append("rect")
        .attr("x", 1)
        .attr("width", x(bins[0].x1) - x(bins[0].x0) - 2)
        .attr("height", function(d) { return height - y(d.length); });

    bar.append("text")
        .attr("y", -5)
        .attr("x", (x(bins[0].x1) - x(bins[0].x0)) / 2)
        .attr("text-anchor", "middle")
        .text(function(d) { return formatCount(d.length); });

    g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
}

function donutChart(prop, id) {
    var data = [prop*100, 100 - prop*100];

    var width = 80,
        height = 80,
        radius = Math.min(width, height) / 2;

    var arc = d3.arc()
        .outerRadius(radius)
        .innerRadius(radius - 15);

    var pie = d3.pie()
        .sort(null)
        .value(function(d) { return d });

    var svg = d3.select("#" + id).append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var g = svg.selectAll(".arc")
        .data(pie(data))
        .enter().append("g")
        .attr("class", "arc")
        .append("path")
        .attr("d", arc)
        .append('title')
        .text(function(d) {
            return (d.value).toFixed(2) + "%";
        });
}

function switch_measure(id, measure) {
    var measures = ['min', 'avg', 'max'];
    var element = $('#' + id + '-' + measure);
        for (var i = 0; i < measures.length; i++) {
            var temp = $('#' + id + '-' + measures[i]).hide();
            $('#' + id + '-' + measures[i] + '-btn').removeClass('green-bg');            
        }

        element.show();
        $('#' + id + '-' + measure + '-btn').addClass('green-bg');
}
switch_measure('stats', 'avg');
switch_measure('features', 'avg');

{% for measure in stats['energy']['measures'] %}
    {% for stat in stats %}
        {% if stats[stat]['type'] == 'prop' %}
            donutChart({{ stats[stat]['measures'][measure] }}, "{{ stat }}-{{ measure }}");

        {% endif %}
    {% endfor %}

    $("#stats-{{ measure }}-btn").click(function() {
        switch_measure('stats', "{{ measure }}")
    });

    $("#features-{{ measure }}-btn").click(function() {
        switch_measure('features', "{{ measure }}")
    });
{% endfor %}

{% for stat in stats %}
    {% if stats[stat]['type'] != 'other' %}
        var data = [];
        {% for value in stats[stat]['values'] %}
        data.push({{ value }});
        {% endfor %}
    
        histogram(data, "{{ stat }}-dist");
    {% endif %}
{% endfor %}

function selectDistribution() {
    var dist = $('#dist-select').select2('data')[0].text;
    $('#' + dist + "-dist").addClass('visible').siblings().removeClass('visible');
}

$(document).ready(function() {
    $('.dropdown').select2({
        minimumResultsForSearch: Infinity
    });
    selectDistribution();
});

$('#dist-select').on("select2:select", function(e) {
    selectDistribution();
});

function showAlert(status) {
    $('#status-alert').hide();
    $('#status-alert').text(status);
}

function submit_form() {
    $.ajax({
        url: '{{ save_url }}',
        type: 'post',
        data: $('#save-form').serialize(),
        success: function(msg, status, jqXHR) {
            //console.log(msg);
            //console.log(jqXHR);
            //console.log(status);
            //showAlert("hello");
        }
    });
}

$('#form-submit').click(function() {
    submit_form();
});
</script>
{% endblock %}

{% block classy_content %}
{{ super() }}
{% include 'profile.html' %}
<div class="card col-xs-8">
    <div class="card-content clearfix">
        {{ collapsable_heading("playlist") }}
        <div id="playlist" class="collapse in">
            <div class="col-xs-6">
            {% if playlist['images'][0] is defined %}
                <img class="center" src="{{ playlist['images'][0]['url'] }}">
            {% endif %}
                <a id="sel-playlist" type="button" class="btn btn-success center" href="{{ playlists_url }}">SELECT DIFFERENT PLAYLIST</a>
            </div>
            <div class="col-xs-6">
                <table class="classy-table inline-table table">
                    <tbody> 
                        <tr>
                             <td>name</td>
                            <td>{{ playlist['name'] }}</td>
                        </tr>
                        <tr>
                            <td>owner</td>
                            <td>
				{% if playlist['owner']['display_name'] == 'null' %}
				{{ playlist['owner']['id'] }}
				{% else %}
				{{ playlist['owner']['display_name'] }}
				{% endif %}
			    </td>
                        </tr>
                        <tr>
                            <td>description</td>
                            <td>{{ convert(playlist['description'], "None", "none", playlist['description']) }}</td>
                        </tr>
                        <tr>
                            <td>number of tracks</td>
                            <td>{{ stats['num_tracks']['val'] }}</td>
                        </tr>
                        <tr>
                            <td>collaborative</td>
                            <td>{{ convert_boolean(playlist['collaborative']) }}</td>
                        </tr>
                        <tr>
                            <td>public</td>
                            <td>{{ convert_boolean(playlist['public']) }}</td>
                        </tr>
                        <tr>
                            <td>followers</td>
                            <td>{{ playlist['followers']['total'] }}</td>
                        </tr>
                        <tr>
                            <td>filtered</td>
                            <td>{{ convert_boolean(filtered) }}</td>
                        </tr>
                   </tbody>
                </table>
                {% if filtered %}
                <div class="row">
                    <div class="col-xs-6">
                        <a type="button" class="btn btn-success center" href="{{ tracks_url }}">CLEAR FILTER</a>
                    </div>
                    <div class="col-xs-6">
                        <a type="button" class="btn btn-success center" data-toggle="modal" data-target="#save-playlist">SAVE PLAYLIST</a> 
                    </div>
                </div>
                {% endif %} 
            </div>
        </div>
    </div>
</div>
<div class="card col-xs-12">
    <div class="card-content">
        {{ collapsable_heading("tracks") }}
        <div id="tracks" class="collapse in">
            <table id="tracks-table" class="scrollable-table classy-table table clear">
                <thead id="table-head">
                    <tr>
                        <th></th>
                        <th>name</th>
                        <th>album</th>
                        <th>artist</th>
                        <th>explicit</th>
                        <th>duration</th>
                        <th>popularity</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for item in tracks %}
                    <tr>
                        <td>
                        {% if item['track']['album']['images'][0] is defined %}
                            <img src="{{ item['track']['album']['images'][0]['url'] }}">
                        {% endif %}
                        </td>
                        <td>{{ item['track']['name'] }}</td>
                        <td>{{ item['track']['album']['name'] }}</td>
                        <td>
                            {{ item['track']['artists']|join(', ', attribute='name') }}
                        </td>
                        <td>
                            {{ convert_boolean(item['track']['explicit']) }}
                        </td>
                        <td><script type="text/javascript">
                            var millis = {{ item['track']['duration_ms'] }};
                            var minutes = Math.floor(millis / 60000);
                            var seconds = ((millis % 60000) / 1000).toFixed(0);
                            document.write(minutes + ":" + (seconds < 10 ? '0' : '') + seconds);
                        </script></td>
                        <td>{{ item['track']['popularity'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card col-xs-12 col-md-8">
    <div class="card-content">
        {{ collapsable_heading("features") }}
        <div id="features" class="row collapse in">
            {{ measure_select("features") }}
            {% for measure in stats['energy']['measures'] %}
                <div id="features-{{ measure }}">
                    {% for stat in stats %}
                        {% if stats[stat]['type'] == 'prop' %}
                        <div id="{{ stat }}-{{ measure }}" class="{{ measure }}-features proportion-donut col-xs-4 col-lg-3">
                            <p class="text-center">{{ stat }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card col-xs-12 col-md-4">
    <div class="card-content">
        {{ collapsable_heading("statistics") }}
        <div id="statistics" class="collapse in">
            {{ measure_select("stats") }}
            {% for measure in stats['energy']['measures'] %}
            <div id="stats-{{ measure }}">
                <table class="classy-table inline-table table">
                    <tr>
                        <td>duration</td>
                        <td><script type="text/javascript">
                            var total = {{ stats['duration_ms']['measures'][measure] }};
                            var minutes = Math.floor(total / 60);
                            var seconds = (total % 60).toFixed(0);
                            document.write(minutes + ":" + (seconds < 10 ? '0' : '') + seconds);
                        </script></td>
                    </tr>
                    <tr>
                        <td>key</td>
                        <td>{{ stats['key']['measures'][measure] }}</td>
                    </tr>
                    <tr>
                        <td>tempo</td>
                        <td>{{ stats['tempo']['measures'][measure] }} BPM</td>
                    </tr>
                    <tr>
                        <td>beats per bar</td>
                        <td>{{ stats['time_signature']['measures'][measure] }}</td>
                    </tr>
                    <tr>
                        <td>loudness</td>
                        <td>{{ stats['loudness']['measures'][measure] }} dB</td>
                    </tr>

                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card col-xs-12">
    <div class="card-content clearfix">
        {{ collapsable_heading("distributions") }}
        <div id="distributions" class="collapse in">
            <div>
                <select id="dist-select" class="dropdown">
                    {% for stat in stats %}
                        {% if stats[stat]['type'] == 'prop' %}
                            <option>{{ stat }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div id="histograms">
            {% for stat in stats %}
                {% if stats[stat]['type'] == 'prop' %}
                    <div id="{{ stat }}-dist" class="histogram hidden"></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="card col-xs-12">
    <div class="card-content clearfix">
        {{ collapsable_heading("filter") }}
        <div id="filter" class="collapse in">
            <form action="{{ tracks_url }}" method="post">
                <div class="row">
                {% for stat in stats %}
                    {% if stats[stat]['type'] == 'prop' %}
                        {{ range_slider(stat, stat, stats[stat]['measures']['min'], stats[stat]['measures']['max']) }}
                    {% endif %}
                {% endfor %}
                {{ range_slider("duration", "duration_ms", stats['duration_ms']['measures']['min'], stats['duration_ms']['measures']['max'], 0, 900, 1) }}
                {{ range_slider("loudness", "loudness", stats['loudness']['measures']['min'], stats['loudness']['measures']['max'], -60, 0, 1) }}
                {{ range_slider("beats per bar", "time_signature", stats['time_signature']['measures']['min'], stats['time_signature']['measures']['max'], 0, 12, 1) }}
                {{ range_slider("tempo", "tempo", stats['tempo']['measures']['min'], stats['tempo']['measures']['max'], 0, 200, 1) }}
                </div>
                <input type="submit" class="btn btn-success center" value="FILTER">
            </form>
        </div>
    </div>
</div>
<div id="save-playlist" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title heading">save playlist subset</p>
            </div>
            <div class="modal-body">
                <form id="save-form">
                    <label for="name">playlist name</label>
                    <input type="text" class="form-control" name="name" value="{{ playlist['name'] }}-filtered">
                    <label for="description">description</label>
                    <textarea class="form-control" rows="2" name="description">a filtered subset of {{ playlist['name'] }} by classify!</textarea>
                </form>
            </div>
            <div class="modal-footer">
                <div id="status-alert" class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
                <input id="form-submit" class="btn btn-success center" data-dismiss="modal" value="SAVE">
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
