{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/classify.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/fonts.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function setScrollFades() {
  var destination = $('#tracks-body').offset();
  $('#top-scroll-fade').offset(destination);

  var height = $('#tracks-body').height();
  destination.top += height;
  destination.top -= $('#bottom-scroll-fade').height();
  $('#bottom-scroll-fade').offset(destination);

  var helperDiv = $('<div />');
  $('#tracks-body').append(helperDiv);
  $('#top-scroll-fade').width(helperDiv.width());
  $('#bottom-scroll-fade').width(helperDiv.width());
  helperDiv.remove();
}

setScrollFades();
window.onresize = setScrollFades;
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card clearfix">
        <p class="title dark-gray">class</p>
        <p class="title green">ify.</p>
        <hr>
        <p class="subtitle no-margin gray">audio classification for spotify</p>
    </div>
    <div class="card vcard left-card">
        <p class="heading">tracks</p>
        <div id="top-scroll-fade" class="scroller-fade scroller-fade-top"></div>
        <div id="bottom-scroll-fade" class="scroller-fade scroller-fade-bottom"></div>
        <table class="scrollable-table classy-table table clear">
            <tbody id="tracks-body">
                {% for item in tracks %}
                <tr>
                    <td>
                        <p>{{ item['track']['name'] }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card vcard hcard right-card">
        <p class="heading">features</p>
        {% for statistic in stats %}
        <p>{{ statistic }}: {{ stats[statistic] }}</p>
        {% endfor %}
        
    </div>
    <div class="card vcard hcard right-card">
        <p class="heading">filter</p>

    </div>
</div>
{% endblock %}
